<div class="row">
  <div class="offset3 span6">
    <div id="legend" class="">
      <legend class="">
        <h2>New video</h2>
      </legend>
    </div>
    <%= render 'form' %>
  </div>
</div>  
